@model GCW.Models.Loan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
        <title>Edit loan</title>
    </head>
    <body>
        <h1 id="test">Edit</h1>
        <h4>Loan</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="LoanNumber"/>
                    <div class="form-group">
                        <label asp-for="DateOut" class="control-label">Date out</label>
                        <input asp-for="DateOut" readonly class="form-control" />
                        <span asp-validation-for="DateOut" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="DateDue" class="control-label">Date due</label>
                        <input asp-for="DateDue" readonly class="form-control" id="dateDueInput"/>
                        <span asp-validation-for="DateDue" class="text-danger"></span>
                    </div>  
                    <br />
                    <div class="form-group">
                        <label asp-for="DateReturned" class="control-label">Date returned</label>    
                        <input asp-for="DateReturned" class="form-control" id="dateReturnedInput"/>
                        <span asp-validation-for="DateReturned" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="LoanTypeNumber" class="control-label">Loan type number</label>
                        <select asp-for="LoanTypeNumber" class="form-control" asp-items="ViewBag.LoanTypeNumber"></select>
                        <span asp-validation-for="LoanTypeNumber" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="CopyNumber" class="control-label">Copy number</label>
                        <select asp-for="CopyNumber" class="form-control" asp-items="ViewBag.CopyNumber"></select>
                        <span asp-validation-for="CopyNumber" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="MemberNumber" class="control-label">Member number</label>
                        <select asp-for="MemberNumber" class="form-control" asp-items="ViewBag.MemberNumber"></select>
                        <span asp-validation-for="MemberNumber" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input id="saveBtn" type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
                <br />
                <h3 hidden id="penaltyCharge">@ViewBag.PenaltyCharge</h3>
                <h3 id="finalCharge"></h3>

            </div>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
        <script type="text/javascript">
            document.getElementById("dateReturnedInput").onchange = function() 
            {
                var penaltyCharge = document.getElementById("penaltyCharge").innerHTML;
                 if(Date.parse(document.getElementById("dateReturnedInput").value) > Date.parse(document.getElementById("dateDueInput").value))
                 {
                     var overDuedTime = Date.parse(document.getElementById("dateReturnedInput").value) - Date.parse(document.getElementById("dateDueInput").value);
                     var overDuedDays = overDuedTime / (1000 * 3600 * 24);
                     document.getElementById("finalCharge").innerHTML = "Total over dued amount to be paid: Rs. " + (overDuedDays * penaltyCharge).toFixed(2);
                 }
                 else
                 {
                     document.getElementById("finalCharge").innerHTML = "";
                 }
            };
        </script>
    </body>
</html>


